<h1>Hi <%= current_user.email %></h1>

<div id="chart_container">
</div>

<%= link_to 'Enter a new record', new_record_path %>

<table id="table_container" class="display">
</table>

<script>
  $(function () {
    $('#chart_container').highcharts({
      title: {
        text: 'Weight Trend',
        x: -20 //center
      },
      subtitle: {
        text: 'Check how it changes',
        x: -20
      },
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
          month: '%e. %b',
          year: '%b'
        },
        title: {
          text: 'Date'
        }
      },
      yAxis: {
        title: {
          text: 'Weight (kg)'
        },
        min: 0
      },
      tooltip: {
        valueSuffix: 'kg'
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      series: [{
        name: 'My Weight',
        data: <%= @data.to_json %>
      }]
    });

    $('#table_container').dataTable({
      "data": <%= @data.to_json %>,
      "columns": [
        { "title": "Date",
          "render": function(data, type, row) {
            return new Date(data).toLocaleDateString();
          }
        },
        { "title": "Weight",
          "render": function(data, type, row) {
            return data + "(kg)"
          }
        }
      ]
    });
});
</script>
